@media (max-width: 768px) {
  .header-banner {
    background-size: cover;
    position: relative;
    height: 100vh;
  }
  .banner-text {
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 4vw;
    text-align: center;
  }
  .banner-content {
    margin-left: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 2;
    padding: 20px 4vw;
  }
  .banner-content h1 {
    font-size: 8.5vw;
  }
  .banner-content p {
    font-size: 4vw;
  }
  .banner-text .banner-image img {
    display: none;
  }
  .banner-content button {
    font-size: 5vw;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    background: #edc919;
    text-transform: uppercase;
    color: #115a81;
    padding: 6px 5vw;
    margin-top: 20px;
    cursor: pointer;
  }
  .button-layout {
    flex-direction: column;
  }
  .button-layout .content-banner-data {
    margin-top: 2.5vw;
  }
  .button-layout .content-banner-data h2 {
    font-size: 5vw;
  }
  .button-layout .content-banner-data span {
    font-size: 4vw;
  }

  .section-2 {
    width: 90%;
    border-radius: 17px;
    padding: 5vw 0;
    margin-top: 5vw;
  }
  .running-text .text {
    font-size: 5.5vw !important;
  }

  .section-3 {
    width: 100%;
    padding: 15vw 3vw;
    gap: 2vw;
  }
  .section-3-image {
    display: none;
  }
  .section-3-text h1 {
    font-size: 8vw;
  }
  .section-3-button {
    margin-top: 10vw !important;
    gap: 4vw;
    margin-bottom: 13vw !important;
  }
  .section-3-button button:nth-child(1) {
    padding: 2vw 6vw;
    font-size: 4.7vw;
  }
  .section-3-button button:nth-child(2) {
    padding: 2vw 6vw;
    font-size: 4.7vw;
  }

  .online-mobile {
    padding: 12vw 3vw;
    flex-direction: column;
    gap: 7vw;
  }
  .online-mobile-content {
    width: 100%;
    text-align: center;
    padding-left: 0;
  }
  .online-mobile-content h1 {
    font-size: 8vw;
  }
  .online-mobile-content p {
    font-size: 4.5vw;
    margin-top: 1.4vw;
  }
  .online-mobile-image {
    width: 100%;
  }
  .online-mobile-image img {
    width: 60vw;
  }

  .tentang-pose {
    padding: 11vw 5.5vw;
    grid-gap: 1vw;
  }
  .tentang-pose-content h1 {
    font-size: 8vw;
    width: 100%;
  }
  .tentang-pose-content p {
    font-size: 4.5vw;
    padding: 4vw 0;
  }
  .tentang-pose-content button {
    padding: 2vw 7vw;
    font-size: 4.5vw;
    margin-top: 2.3vw;
  }

  .instruksi {
    padding: 3.5vw 5.5vw;
    padding-top: 4.3vw;
  }
  .instruksi h1 {
    font-size: 7vw;
  }
  .instruksi p {
    font-size: 4.5vw;
  }
  .instruksi-box {
    grid-gap: 15px;
    margin-top: 2vw;
  }
  .instruksi-card {
    height: 35vh;
    margin-top: 2vw;
  }

  .swiper-button-next {
    display: inline !important;
  }
  .swiper-button-prev {
    display: block !important;
  }
  .berita-image {
    height: 55vw;
  }
  .berita-content span {
    font-size: 3vw;
  }
  .berita-content h2 {
    font-size: 5.3vw;
  }
  .berita-content p {
    font-size: 4vw;
  }

  .partnership {
    width: 80%;
    gap: 35px;
    padding-bottom: 7vw;
    padding-top: 4vw;
  }
  .logo-partnership {
    height: 20vw;
  }
  .partnership img {
    width: 100%;
  }

  .footer {
    height: max-content;
    padding: 8vw 6vw;
    padding-top: 13vw;
    grid-gap: 4vw;
  }
  .logo-footer img {
    width: 40vw;
    /* margin-bottom: 20px; */
  }
  .logo-footer p {
    font-size: 4vw;
  }
  .menu-footer h1 {
    font-size: 6vw;
  }
  .menu-footer ul {
    margin-top: 1.2vw !important;
  }
  .menu-footer li {
    font-size: 4vw;
  }
  .footer .menu-footer:nth-child(2) {
    margin-left: 0;
  }
  .footer .menu-footer:nth-child(3) {
    margin-left: 0;
  }

  /* FORM */
  .form {
    height: max-content !important;
    padding: 6vw 2vw;
  }
  .form-box {
    width: 90%;
    padding: 4.7vw 4.4vw;
  }
  .form-box h1 {
    font-size: 4vw;
  }
  .form-box form {
    grid-template-columns: repeat(1, 1fr);
  }
  .form-box form p {
    margin-top: 1.3vw;
  }
  .form-box form p .bi-eye-slash {
    right: 1.8vw;
  }
  .form-box form label {
    font-size: 3vw;
  }
  .form-box form p input {
    padding: 0.8vw 1.8vw;
    font-size: 2.8vw;
    height: 6.7vw;
    margin-top: 0.4vw;
  }
  .form-box button {
    font-size: 3vw;
    padding: 0.6vw 7vw;
  }
  .form-box .forgot-password {
    margin-top: 3vw;
    font-size: 3vw;
  }
  .term-condition {
    gap: 1.2vw;
    margin-top: 7vw;
    margin-bottom: 1.6vw;
  }
  .term-condition span {
    font-size: 2.2vw;
  }
  .term-condition input[type="checkbox"] {
    height: 3vw;
    width: 3.2vw;
  }
  .term-condition input[type="checkbox"]:after {
    font-size: 5vw;
  }
  /* FORM END */
}
